name: node-check

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4

      - run: npm i

      - run: make lint

      - name: Run tests
        run: npm test
